<div class="btn-group">
    <button class="btn active" {{action 'changePeriod' 1}}>24 Hours</button>
    <button class="btn" {{action 'changePeriod' 2}}>1 Week</button>
    <button class="btn" {{action 'changePeriod' 3}}>1 Months</button>
    <button class="btn" {{action 'changePeriod' 4}}>1 Year</button>
    <button class="btn" {{action 'changePeriod' 5}}>Custom...</button>
</div>