<h2>Room-environment Overview</h2>
<div>
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Occupants</th>
                <th>Light Intensity</th>
                <th>Temp</th>
                <th>Pressure</th>
                <th>Humidity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="Room ID">1.06</td>
                <td data-title="Occupants">{{occupants}}</td>
                <td data-title="Light Intensity">{{light}}%</td>
                <td data-title="Temp">{{temp}}°C</td>
                <td data-title="Pressure">{{pressure}}hPa</td>
                <td data-title="Humidity">{{humidity}}%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.07</td>
                <td data-title="Occupants">0</td>
                <td data-title="Light Intensity">78%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.08</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">82%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.09</td>
                <td data-title="Occupants">4</td>
                <td data-title="Light Intensity">10%</td>
                <td data-title="Temp">24.6°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.10</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">26%</td>
                <td data-title="Temp">19.8°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">35.68%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.11</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">10%</td>
                <td data-title="Temp">21.6°C</td>
                <td data-title="Pressure">101hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.12</td>
                <td data-title="Occupants">2</td>
                <td data-title="Light Intensity">79%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">99.3hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.13</td>
                <td data-title="Occupants">5</td>
                <td data-title="Light Intensity">0%</td>
                <td data-title="Temp">22°C</td>
                <td data-title="Pressure">97hPa</td>
                <td data-title="Humidity">30%</td>
            </tr>
            <tr>
                <td data-title="Room ID">1.14</td>
                <td data-title="Occupants">1</td>
                <td data-title="Light Intensity">36%</td>
                <td data-title="Temp">22.7°C</td>
                <td data-title="Pressure">100.34hPa</td>
                <td data-title="Humidity">37%</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td data-title="">
                    <strong>Average</strong>
                </td>
                <td data-title="Occupants">
                    <strong>3</strong>
                </td>
                <td data-title="Light Intensity">
                    <strong>23%</strong>
                </td>
                <td data-title="Temp">
                    <strong>22.1°C</strong>
                </td>
                <td data-title="Pressure">
                    <strong>100.5hPa</strong>
                </td>
                <td data-title="Humidity">
                    <strong>41.2%</strong>
                </td>
            </tr>
        </tfoot>
    </table>
</div>